<div class="row mt-4 main text-light d-flex justify-content-center ">
	<div class="col-md-10">
    <div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
		</div>
		<form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control"
          formControlName="firstName"
          [ngClass]="{'is-invalid' : f.firstName.errors && f.firstName.touched}"
          placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.firstName.errors?.required" class="invalid-feedback text-error">
          Primeiro Nome é obrigatório.
          </div>
          <div *ngIf="f.firstName.errors?.maxlength" class="invalid-feedback text-error">
            Máximo de 10 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control"
          formControlName="lastName"
          [ngClass]="{'is-invalid' : f.lastName.errors && f.lastName.touched}"
          placeholder="Insira o Último nome" />
          <div *ngIf="f.lastName.errors?.required" class="invalid-feedback text-error">
          Último Nome é obrigatório.
        </div>
          <div *ngIf="f.lastName.errors?.maxlength" class="invalid-feedback text-error">
            Máximo de 15 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text"
        formControlName="email"
        [ngClass]="{'is-invalid' : f.email.errors && f.email.touched}"
        placeholder="Insira o endereço de email" />
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback text-error">
          E-mail é obrigatório
        </div>
        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback text-error">
          Insira um email válido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text"
        (ngModelChange)="checkUserName($event)"
        formControlName="userName"
        [ngClass]="{'is-invalid' : f.userName.errors && f.userName.touched}"
        placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.userName.errors?.invalidUserName" class="invalid-feedback text-error">
          Nome de usuário já está sendo utilizado por outra pessoa
        </div>
        <div *ngIf="f.userName.errors?.maxlength" class="invalid-feedback text-error">
          Máximo de 10 caracteres
        </div>
        <div *ngIf="f.userName.errors?.required" class="invalid-feedback text-error">
          Usuario é obrigatório.
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password"
          formControlName="password"
          [ngClass]="{'is-invalid' : f.password.errors && f.password.touched}"
          placeholder="Digite uma Senha" />
          <div *ngIf="f.password.errors?.required" class="invalid-feedback text-error">
          Senha é obrigatório.
        </div>
        <div *ngIf="f.password.errors?.minlength" class="invalid-feedback text-error">
          Senha precisa ter no mínimo 6 digitos.
        </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password"
          formControlName="confirmePassword"
          [ngClass]="{'is-invalid' : f.confirmePassword.errors && f.confirmePassword.touched}"
          placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmePassword.errors?.required" class="invalid-feedback text-error">
          Confirme a Senha.
          </div>
          <div *ngIf="f.confirmePassword.errors?.mustMatch" class="invalid-feedback text-error">
            Senhas não estão iguais!
            </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="form-group col-12">
          <button [disabled]="!form.valid" type="submit" class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
