<div class="container-fluid row mx-0 px-0">
  <div class="text-light my-4 col-lg-12 col-md-10 col-sm-12">
    <div class=" p-3 border border-light">
      <div class="col-12 pt-1 h-100" *ngIf="!editMode">
        <div class="row bg-dark text-light shadow-0 border-0 m-0 mb-3 ">
          <div class="mt-4 col-1 me-5">
            <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
            <div class="image-area">
              <img
                  src="{{profilePicURL}}"
                  (click)="file.click()"
                  alt="Card image cap"
                  class="image "
                />
            </div>
          </div>
          <div class="col-3 mt-5">
            <div class="h5 text-bold mb-0">
              {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
            </div>
            <div class="subinfo mt-1">@{{ user.userName }}</div>
          </div>
          <div class="col-3 mt-5">
            <div class="d-inline-block">
              <div class="h5 text-bold mb-0">Seguindo</div>
              <div class="subinfo mt-1">{{user.followingCount}}</div>
            </div>
          </div>
          <div class="col-3 mt-5">
            <div class="h5 text-bold mb-0">Seguidores</div>
            <div class="subinfo mt-1">{{user.followersCount}}</div>
          </div>
          <div class="col-1 mt-5 ">
            <button
              *ngIf="userName == loggedUserName"
              class="btn btn-primary"
              (click)="toggleEditMode()"
            >
              Editar
            </button>
            <button
              *ngIf="userName != loggedUserName && followMode"
              class="btn btn-primary"
              (click) = "followUser()"
            >
              Seguir
            </button>
            <button
            *ngIf="userName != loggedUserName && !followMode"
            class="btn btn-primary"
            (click) = "unfollowUser()"
          >
            Seguindo
          </button>
          </div>
        </div>
        <div>
          <div class="bio">
          {{user.bio}}
          </div>
          <div class="d-flex justify-content-between mt-4">
            <div class="subinfo">Telefone: {{user.phoneNumber}}</div>
            <div class="subinfo ms-auto">Email: {{user.email}}</div>
          </div>
        </div>
      </div>
      <form *ngIf="editMode" [formGroup]="form" (ngSubmit)="saveProfile()">
        <div class="col-12 pt-1 h-100 text-light ">
          <div class="row bg-dark shadow-0 border-0 mb-3 ">
            <div class="mt-4 col-lg-1">


            </div>
            <div class="col-2 mt-5 ms-lg-5 form-group">
              <label>Nome de usuário</label>
              <input
              (ngModelChange)="checkUserName($event)"
                type="text"
                formControlName="userName"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.userName.errors && f.userName.touched
                }"
              />
              <div
                *ngIf="f.userName.errors && f.userName.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.userName.errors.required">
                  Nome de usuário é obrigatório
                </div>
                <div *ngIf="f.userName.errors.invalidUserName">
                  Nome de usuário já está sendo utilizado por outra pessoa
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-dark  shadow-0 border-0 mb-3">
            <div class="col-3 mt-5 form-group">
              <label>Nome</label>
              <input
                type="text"
                formControlName="firstName"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.firstName.errors && f.firstName.touched
                }"
              />
              <div
                *ngIf="f.firstName.errors && f.firstName.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.firstName.errors.required">
                  Nome é obrigatório
                </div>
              </div>
            </div>
            <div class="col-3 mt-5 form-group">
              <label>Sobrenome</label>
              <input
                type="text"
                formControlName="lastName"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.lastName.errors && f.lastName.touched
                }"
              />
              <div
                *ngIf="f.lastName.errors && f.lastName.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.lastName.errors.required">
                  Sobrenome é obrigatório
                </div>
              </div>
            </div>
            <div class="col-3 mt-5 form-group">
              <label>Telefone</label>
              <input
                type="text"
                formControlName="phoneNumber"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched
                }"
              />
              <div
                *ngIf="f.phoneNumber.errors && f.phoneNumber.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.phoneNumber.errors.pattern">
                  Digite um número válido
                </div>
              </div>
            </div>
            <div class="col-3 mt-5 form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.email.errors && f.email.touched
                }"
              />
              <div
                *ngIf="f.email.errors && f.email.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.email.errors.email">
                  Digite um e-mail válido
                </div>
              </div>
            </div>
        </div>
          <div class="row bg-dark  shadow-0 border-0 mb-3">
          </div>
          <div class="row bg-dark shadow-0  mb-3">
            <div class="col-12 mt-5 form-group textarea-wrapper  input-group border bg-dark border-light">
                <textarea class="bg-dark border-0 pt-3 py-1 text-light"
                pInputTextArea (ngModelChange)="valueChange($event)" maxlength="{{maxChar}}"
                placeholder="Bio"
                type="text"
                formControlName="bio"
                [ngClass]="{
                  'is-invalid': f.bio.errors && f.bio.touched
                }"
                >
              </textarea>
              <div class="remaning ">{{charCount}}/{{maxChar}}</div>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0">
            <div class="col-12 p-0 m-0 text-center">
              <hr>
              <h3 class="mt-5">Mudar Senha</h3>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0 mb-3  justify-content-center">
            <div class="col-4 mt-5 form-group">
              <label>Senha</label>
              <input
                type="password"
                formControlName="password"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.password.errors && f.password.touched
                }"
              />
              <div
                *ngIf="f.password.errors && f.password.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.password.errors.minlength">
                  Senha precisa ter no mínimo 4 caracteres
                </div>
              </div>
            </div>
            <div class="col-4 mt-5 form-group">
              <label>Confirme a senha</label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid':
                    f.confirmPassword.errors && f.confirmPassword.touched
                }"
              />
              <div
                *ngIf="f.confirmPassword.errors && f.confirmPassword.touched"
                class="invalid-feedback text-light"
              >
                <div *ngIf="f.confirmPassword.errors.mustMatch">
                  Senhas precisam ser iguais!
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0 mb-3 ">
            <div class="col-1 mt-5 pt-4 ">
              <button
                class="btn btn-danger "
                (click)="toggleEditMode()"
              >
                Cancelar
              </button>
            </div>
            <div class="col-1 mt-5 pt-4 ms-auto">
              <button
                class="btn btn-success "
                [disabled]="!form.valid"
                type="submit"
              >
                Salvar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="m-3" *ngIf="!editMode">
      <ng-container  *ngFor="let item of posts">
        <app-post-tl
          [body]="item.body"
          [userName]="item.userName"
          [date]="item.date"
          [id]="item.id"
        >
        </app-post-tl>

      </ng-container>
    </div>
  </div>
</div>
