
html, body {
  width:100%;
    overflow-x:hidden !important;
    overflow-y:hidden;
}

.search-results{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main{
  height:100vh;
  overflow: unset;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


.card-transparent {
  background-color: transparent;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}


.card-no-border {
  border: none !important;
}

.noround{
  border-radius: 0;
}

#exampleFormControlTextArea{
  color:white;
}
#exampleFormControlTextArea::placeholder{
  color:grey;
}
.select-tl{
  background: #212529;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 95%;
}
.select-tl:hover{
background-color: #36393d;
}

textarea:focus{
  outline:0px !important;
  box-shadow: none !important;
}

