<div class="main bg-dark sticky-top">
  <app-upperbar class=" d-sm-block d-none"></app-upperbar>
  <ng-container *ngIf="(accountService.currentUser$ | async) !== null">

    <div class="container-fluid bg-dark search-results"
    >

        <div class="row "
        >
        <div class="col-2 col-lg-3 d-sm-block d-none ps-md-4 ps-lg-0 ps-xl-4 ps-xxl-5 ps-sm-3 sticky-top h-100">
          <div class="card card-transparent shadow-none border-0 ">
            <div class="card-body p-0">
              <app-sidenavbar></app-sidenavbar>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-lg-8 col-xxl-6 col-md-10 col-12 pt-0 ps-sm-0 ps-md-0 ps-lg-3 p-0 px-sm-5 scroll" [class.px-4]="isNotProfileRoute"
        infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="1"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
        >
          <div class="card card-transparent shadow-none border-0 ">
            <div class="card-body p-0 ">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>


      <div class="d-sm-none d-inline pt-5 mt-5">
        <div class="card shadow-none border-0">
          <div class="card-body p-0">
            <app-sidenavbar ></app-sidenavbar>
          </div>
        </div>
      </div>
        </div>

    </div>

    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    >
    <p style="font-size: 20px; color: white;">Carregando...</p>
    </ngx-spinner>

  </ng-container>

  <ng-container *ngIf="(accountService.currentUser$ | async) === null">
    <router-outlet></router-outlet>
  </ng-container>


</div>
