.nav-item{
  color: white;
  margin-bottom: 4rem;

}
.nav-item.active{
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.roundedc{
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 50rem;
  cursor: pointer;
}

.roundedc:hover {
  background-color: #36393d;
}

.d-xl-block {
  padding-left: 3rem;
}

.mobile-icon{
  @media (min-width: 0px) {
    font-size: 1.3em;
  }
  @media (min-width: 430px) {
    font-size: 1.8em;
  }
}
