<div class="container-fluid row mx-0 px-0">
  <div class="text-light my-4  col-12">
    <div class=" p-3 border border-light">
      <div class="col-12 pt-1 h-100" *ngIf="!editMode">
        <div class="row bg-dark text-light shadow-0 border-0 m-0  ">
          <div class="p-0 ps-sm-3  col-md-1 ps-lg-0 mt-4 col-lg-1 col-xl-1 me-xl-5 col-sm-2 col-1 ">
            <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
            <div class="image-area " *ngIf="userName == loggedUserName">
              <img
                  src="{{profilePicURL}}"
                  (click)="file.click()"
                  alt="Card image cap"
                  class="image "
                />
              </div>
              <div class="image-area-no-edit noclickable" *ngIf="userName != loggedUserName">
                <img
                  src="{{profilePicURL}}"
                  alt="Card image cap"
                  class="image "
                />
              </div>
          </div>
            <div class="col-xxl-7 col-lg-8
            col-md-9 ms-md-4 ms-xl-4 mt-5 me-lg-2 ms-lg-5 col-sm-7 col-6 ms-4
            p-0 ps-lg-2 m-0  ">
              <div class=" user text-nowrap pt-0 text-bold mb-0">
                {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
                <div class="subinfo mt-0 p-0">@{{ user.userName }}</div>
              </div>
            </div>
          <div class=" ms-0 col-2 col-sm-1 ms-xl-3 mt-5">
          <i class="fa fa-pencil icon" aria-hidden="true" (click)="editMode = true"></i>

            <button
              *ngIf="userName == loggedUserName"
              class="btn btn-primary upper-button custom-col"
              (click)="toggleEditMode()"
            >
              Editar
            </button>

            <button
              *ngIf="userName != loggedUserName && followMode"
              class="btn btn-primary upper-button-follow"
              (click) = "followUser()"
            >
              Seguir
            </button>
            <button
            *ngIf="userName != loggedUserName && !followMode"
            class="btn btn-primary upper-button-following"
            (click) = "unfollowUser()"
          >
            Seguindo
          </button>
        </div>
        <div class=" ms-0 col-2 d-inline d-sm-none mt-5 me-xl-3 custom-col">
          <i class="fas fa-window-close icon" style="color: #ff0000;" (click)="logout()"></i>
          <button
          *ngIf="userName == loggedUserName"
          class="btn btn-danger upper-button custom-col"
          (click)="toggleEditMode()"
        >
          Sair
        </button>
      </div>
        </div>
        <div class="row bg-dark text-light shadow-0 border-0 m-0 mb-5 ">
          <div class=" col-xxl-6 col-xl-4 mt-3 col-6">
              <div class="h5 text-bold mb-0 count-text">
                <a (click)="openFollowing()">Seguindo</a>
              </div>
              <div class="subinfo mt-1">{{user.followingCount}}</div>
          </div>
          <div class=" col-xxl-6 col-xl-4 mt-3 col-6">
            <div class="h5 text-bold mb-0 count-text">
              <a (click)="openFollowers()">Seguidores</a>
            </div>
            <div class="subinfo mt-1">{{user.followersCount}}</div>
          </div>
        </div>

        <div class="m-0 p-0">
          <div class="bio bio-text">
          {{user.bio}}
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="subinfo">Telefone: {{user.phoneNumber}}</div>
            <div class="subinfo ms-auto">Email: {{user.email}}</div>
          </div>
        </div>
      </div>
      <form *ngIf="editMode" [formGroup]="form" (ngSubmit)="saveProfile()">
        <div class="col-12 pt-1 h-100 text-light ">
          <div class="row bg-dark shadow-0 border-0 ">
            <div class="col-xxl-12  mt-5 form-group ">
              <label>Nome de usuário</label>
              <input
              (ngModelChange)="checkUserName($event)"
                type="text"
                formControlName="userName"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.userName.errors && f.userName.touched
                }"
              />
              <div
                *ngIf="f.userName.errors "
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.userName.errors.required">
                  Nome de usuário é obrigatório
                </div>
                <div *ngIf="f.userName.errors.invalidUserName">
                  Nome de usuário já está sendo utilizado por outra pessoa
                </div>
                <div *ngIf="f.userName.errors.maxlength">
                  Máximo de 10 caracteres
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0 ">
            <div class="col-xxl-6  mt-5 form-group">
              <label>Nome</label>
              <input
                type="text"
                formControlName="firstName"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.firstName.errors && f.firstName.touched
                }"
              />
              <div
                *ngIf="f.firstName.errors && f.firstName.touched"
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.firstName.errors.required">
                  Nome é obrigatório
                </div>
                <div *ngIf="f.firstName.errors.maxlength">
                  Máximo de 10 caracteres
                </div>
              </div>
            </div>
            <div class="col-xxl-6  mt-5 form-group">
              <label>Sobrenome</label>
              <input
                type="text"
                formControlName="lastName"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.lastName.errors && f.lastName.touched
                }"
              />
              <div
                *ngIf="f.lastName.errors && f.lastName.touched"
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.lastName.errors.required">
                  Sobrenome é obrigatório
                </div>
                <div *ngIf="f.lastName.errors.maxlength">
                  Máximo de 15 caracteres
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-dark  shadow-0 border-0 ">
            <div class="col-xxl-6  mt-5 form-group">
              <label>Telefone</label>
              <input
                type="text"
                formControlName="phoneNumber"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched
                }"
              />
              <div
                *ngIf="f.phoneNumber.errors && f.phoneNumber.touched"
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.phoneNumber.errors.pattern">
                  Digite um número válido
                </div>
              </div>
            </div>
            <div class="col-xxl-6  mt-5 form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.email.errors && f.email.touched
                }"
              />
              <div
                *ngIf="f.email.errors && f.email.touched"
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.email.errors.email">
                  Digite um e-mail válido
                </div>
              </div>
            </div>

          </div>
          <div class="row bg-dark  shadow-0 border-0 ">
          </div>
          <div class="row bg-dark shadow-0 m-0 ">
            <div class="col-12 mt-5 form-group textarea-wrapper  input-group border  bg-dark border-light">
                <textarea class="bg-dark border-0 pt-3 py-1 text-light "
                pInputTextArea (ngModelChange)="valueChange($event)" maxlength="{{maxChar}}"
                placeholder="Bio"
                type="text"
                formControlName="bio"
                [ngClass]="{
                  'is-invalid': f.bio.errors && f.bio.touched
                }"
                >
              </textarea>
              <div class="remaning ">{{charCount}}/{{maxChar}}</div>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0">
            <div class="col-12 p-0 m-0 text-center">
              <hr class="mx-3">
              <h3 class="mt-5">Mudar Senha</h3>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0 ">
            <div class="col-xxl-6 mt-5 form-group">
              <label>Senha</label>
              <input
                type="password"
                formControlName="password"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid': f.password.errors && f.password.touched
                }"
              />
              <div
                *ngIf="f.password.errors && f.password.touched"
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.password.errors.minlength">
                  Senha precisa ter no mínimo 6 caracteres
                </div>
                <div *ngIf="f.password.errors.maxlength">
                  Máximo de 30 caracteres
                </div>
              </div>
            </div>
            <div class="col-xxl-6 mt-5 form-group">
              <label>Confirme a senha</label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control ps-1"
                [ngClass]="{
                  'is-invalid':
                    f.confirmPassword.errors && f.confirmPassword.touched
                }"
              />
              <div
                *ngIf="f.confirmPassword.errors && f.confirmPassword.touched"
                class="invalid-feedback text-error"
              >
                <div *ngIf="f.confirmPassword.errors.mustMatch">
                  Senhas precisam ser iguais!
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-dark shadow-0 border-0  d-flex justify-content-between">
            <div class="col-6 mt-5 pt-4 p-0 ps-3">
              <button
                class="btn btn-danger "
                (click)="toggleEditMode()"
              >
                Cancelar
              </button>
            </div>
            <div class="col-6 mt-5 p-0 pt-4 text-end pe-3">
              <button
                class="btn btn-success "
                [disabled]="!form.valid"
                type="submit"
              >
                Salvar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="m-3" *ngIf="!editMode">
      <ng-container  *ngFor="let item of posts">
        <app-post-tl
          [post]="item"
        >
        </app-post-tl>

      </ng-container>

    </div>
  </div>
</div>
