<nav class=" navbar navbar-expand-lg me-2 mt-5 d-sm-block d-none " >
  <div class="container-fluid">
    <ul class="row w-100 d-inline">
      <div class="col-6 d-inline">
        <li class="nav-item d-inline" routerLinkActive="active">
            <div class="roundedc d-inline-block ps-md-3 ps-lg-1 ps-xl-3 py-2 ">
            <a class="nav-link d-none d-lg-block pe-3 text-nowrap "aria-current="page" routerLink="home">
              <i class="nav-link fa-solid fa-house d-none d-lg-inline pe-2 text-nowrap" aria-current="page" routerLink="home"></i>
              Página inicial</a>
            <a class="nav-link f fa-solid fa-house d-lg-none d-block" aria-current="page" routerLink="home"></a>
          </div>
          </li>
      </div>
        <p></p>
        <div class="col-6 d-inline" >
          <li class="nav-item d-inline" routerLinkActive="active">
              <div class="roundedc d-inline-block ps-md-3 ps-lg-1 ps-xl-3 py-2">
              <a class=" nav-link d-none d-lg-block pe-3 text-nowrap" aria-current="page" routerLink="messages">
                <i class="nav-link fa-solid fa-message d-none d-lg-inline pe-2 text-nowrap" aria-current="page" routerLink="messages"></i>
                Mensagens</a>
              <a class="nav-link fa-solid fa-message d-lg-none d-block" aria-current="page" routerLink="messages"></a>
            </div>
          </li>
        </div>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-sm d-sm-none d-block fixed-bottom bg-dark border-top border-light" >
 <ul class="row justify-content-between text-center mt-3">
   <div class="col-4">
      <li class="nav-item d-inline " routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="home">
          <i class="fa fa-solid fa-house fa-2x"></i>
        </a>
      </li>
    </div>
    <div class="col-4">
      <li class="nav-item d-inline " routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="messages">
          <i class=" fa fa-solid fa-search fa-2x"></i>
        </a>
      </li>
    </div>
    <div class="col-4">
      <li class="nav-item d-inline " routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="messages">
          <i class="fa-solid fa-message fa-2x"></i>
        </a>
      </li>
    </div>
</ul>
</nav>
