<nav class=" navbar navbar-expand-lg me-2 mt-5 pt-5 d-sm-block d-none " >
  <div class="container-fluid h-100">
    <ul class=" vw-100 vh-100 d-inline ">

      <div class="d-inline-block ">
        <li class="nav-item d-inline " routerLinkActive="active">
          <div class="roundedc d-flex text-center align-items-stretch pe-md-5 pe-lg-1 pe-xl-3 mb-5 ps-2 py-2" routerLink="home">
            <a class="p-2 p-md-0 nav-link d-none d-lg-flex pe-4 text-nowrap" aria-current="page" >
              <i class="fa fa-solid fa-house fa-2x d-none d-lg-inline ps-2 pe-3 text-nowrap"></i>
              <span class="pt-1 ">Página inicial</span>
            </a>
            <a class="nav-link d-lg-none d-block" aria-current="page" routerLink="home">
              <i class="fa fa-solid fa-house fa-2x"></i>
            </a>
          </div>
      </li>
      </div>
        <p></p>
        <div class=" d-inline-block  " >
          <li class="nav-item d-inline " routerLinkActive="active">
              <div class="roundedc d-flex text-center align-items-center pe-md-3 pe-lg-1 pe-xl-3 ps-2 py-2 mb-5" routerLink="messages">
              <a class="p-2 p-md-0 nav-link d-none d-lg-flex pe-4 text-nowrap " aria-current="page" >
                <i class=" fa fa-solid fa-message fa-2x d-none d-lg-inline ps-2 pe-3 text-nowrap"></i>
                <span class="ps-1 pt-1">Mensagens</span>
              </a>
              <a class="nav-link d-lg-none d-block " aria-current="page" routerLink="messages">
                    <i class=" fa fa-solid fa-message fa-2x "></i>
              </a>
            </div>
          </li>
        </div>
        <p></p>
        <div class="d-inline-block " >
          <li class="nav-item d-inline " routerLinkActive="active">
              <div class="roundedc d-flex text-center align-items-center pe-md-3 pe-lg-1 pe-xl-3 ps-2 py-2" routerLink="search">
              <a class=" p-md-0 nav-link d-none d-lg-flex pe-4 text-nowrap " aria-current="page" >
                <i class=" fa fa-solid fa-search fa-2x  fa-2x d-none d-lg-inline  ps-2 pe-3 text-nowrap"></i>
                <span class="ps-1 pt-1">Buscar</span>
              </a>
              <a class="nav-link d-lg-none d-block" aria-current="page" routerLink="search">
                <i class="fa fa-solid fa-search fa-2x mobile-icon"></i>
              </a>
            </div>
          </li>
        </div>

    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-sm d-sm-none d-block fixed-bottom bg-dark border-top border-light">
  <ul class="row text-center d-flex justify-content-between align-items-center mt-3 me-4">
    <div class="col-3 ">
      <li class="nav-item d-inline" routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="home">
          <i class="fa fa-solid fa-house fa-2x mobile-icon"></i>
        </a>
      </li>
    </div>
    <div class="col-3 ">
      <li class="nav-item d-inline" routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="search">
          <i class="fa fa-solid fa-search fa-2x mobile-icon"></i>
        </a>
      </li>
    </div>
    <div class="col-3">
      <li class="nav-item d-inline" routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="messages">
          <i class="fa fa-solid fa-message fa-2x mobile-icon"></i>
        </a>
      </li>
    </div>
    <div class="col-3 ">
      <li class="nav-item d-inline" routerLinkActive="active">
        <a class="nav-link" aria-current="page" routerLink="user/profile/{{userName}}">
          <i class="fa fa-user fa-2x mobile-icon"></i>
        </a>
      </li>
    </div>
  </ul>
</nav>

