<div class="container-fluid p-0 mt-5 ">
  <div *ngIf="post.rootId != null" >
    <div  *ngFor="let rootPost of post.parents" (click)="postDetails(rootPost.id)">
      <app-post-tl
      [post]="rootPost"
      >
    </app-post-tl>
    <div class="text-center ">
      <i class="fas fa-text-height	fa-long-arrow-down p-0 my-3 text-light  arrow-icon"></i>
    </div>
    </div>

    </div>
  <div class=" border border-light text-light mb-4">
    <div class="p-3 d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <div class="image-area-no-edit noclickable">
          <img
            src={{imgURL}}
            alt="Card image cap"
            class="image "
          />
        </div>
        <div class="ms-2 ">@{{post.user?.userName}}</div>
      </div>
      <span>{{post?.date | DateFormatPipe}}</span>
    </div>
    <div class="p-3 pt-0">
      <p>
        {{post?.body}}
      </p>
    </div>
    <div class="p-3 pt-0">
      <button  type="button" (click)="like($event)" class=" btn btn-block rounded-circle me-2 m-0 p-0 select-tl bg-transparent shadow-0 border-0">
        <i class="fa-solid fa-heart " [class.nolike]="!isLiked" [class.liked]="isLiked"></i>
      </button>
      <span class="me-3">{{totalLikes}}</span>
      <i class="fa-solid fa-comment me-2"></i>
      <span class="me-5">{{post?.totalComments}}</span>
    </div>
  </div>
  <div class="text-light input-group border d-inline-block border-light p-3  ">
    <fieldset class="h-100 ">
      <span>
        <i class="pe-3 fa fa-solid fa-house"></i>
      </span>
      <span class="textarea text-light border-0 mt-3 p-0 "
      (input)="updatePost($event)"
      role="textbox" contenteditable>
    </span>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success text-light
        h-30 bottom-0 end-0 me-3 mb-3 mt-3 rounded" (click)="addComment()" [disabled]="!comment.body">Publicar</button>
      </div>
    </fieldset>
    </div>

  <div class=" post p-0 m-3" *ngFor="let comment of comments"  (click)="postDetails(comment.id)">
    <app-post-tl
  [post]="comment"
>
</app-post-tl>
  </div>

</div>

