.image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.6s ease;
  pointer-events: none;
}

.image-area{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden; /* Oculta qualquer conteúdo da imagem fora da div */
  display: flex;
  justify-content: center;
  align-items: center;
}
.subinfo{
  font-size:medium;
  color: #a7a9ac;
}

.user{
  background: #212529;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 95%;
}
.user:hover{
background-color: #36393d;
}

.search-card{
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
}
