<div class="container-fluid post p-0" (click)="postDetails()">
  <div class=" border border-light text-light my-2">
    <div class="p-3 d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <div class="image-area-no-edit noclickable">
          <img
            src={{imgURL}}
            alt="Card image cap"
            class="image "
          />
        </div>
        <div class="ms-2 ">@{{post?.user.userName}}</div>
      </div>
      <span>{{post?.date | DateFormatPipe}}</span>
    </div>
    <div class="p-3 pt-0">
      <p>
        {{post?.body}}
      </p>
    </div>
    <div class="p-3 pt-0">
      <button  type="button" (click)="like($event)" class=" btn btn-block rounded-circle me-2 m-0 p-0 select-tl bg-transparent shadow-0 border-0">
        <i class="fa-solid fa-heart " [class.nolike]="!isLiked" [class.liked]="isLiked"></i>
      </button>
      <span class="me-3">{{totalLikes}}</span>
      <i class="fa-solid fa-comment me-2"></i>
      <span class="me-5">{{post?.totalComments}}</span>
    </div>
  </div>
</div>
