<div class="container-fluid  mx-0 px-0">
  <div class=" p-3 border-light text-center">
    <div class="mb-5 d-block  bg-dark chat">

      <div id="chatBox" >
        <div #msgBox id="msgBox" >
                <div class="d-flex justify-content-start align-items-center bg-dark sticky-top">
                  <a class="rounded-circle select-tl ms-2 p-1 pt-2 " (click)="closeChat()">
                    <i class="fa-solid fa-arrow-left "></i>
                  </a>
                  <h2 class="text-light pb-1 pt-2  mx-auto"><b>{{ selectedUser?.userName }}</b></h2>
                </div>
                <div
                  *ngFor="let msg of messages"
                  class="msg  border-light"
                  [class.mine]="msg.userId == loggedUserId"
                  >
                <div>
                  {{msg.dateTime}}

                </div>
                  {{ msg.body }}
                </div>
               </div>
          </div>
    </div>
    <div class="text-dark input-group border d-block border-light  p-3 ">
    <fieldset class="h-100 ">
      <span class="textarea text-light mt-3 p-0 "
      (input)="updateMsg($event)"
      role="textbox" contenteditable>
    </span>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success
        h-30 bottom-0 end-0 me-3 mb-3 mt-3 rounded" (click)="sendMessage()">Enviar</button>
      </div>
    </fieldset>
    </div>

</div>
